:root{
    --font-size-default: 24px;
    --color-neutral: #F8F8F8;
}
header{
    width: 100%;
    background-image: url(../images/header-get-coding.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}