:root{
    --font-size-default: 24px;
    --font-default: "Roboto", sans serif;
    --color-neutral: #F8F8F8;
    --color-neutral-darkned: #DBDBDB;
    --color-primary: #587291;
    --color-secondary: #5B2E48;
}
@media (max-width: 700px) or (max-height: 500px){
    :root{
        --font-size-default: 20px;
    }
}
@media (max-width: 570px) or (max-height: 350px){
    :root{
        --font-size-default: 16px;
    }
}
@media (max-width: 450px) or (max-height: 290px){
    :root{
        --font-size-default: 12px;
    }
}
@media (max-width: 340px) or (max-height: 220px){
    :root{
        --font-size-default: 10px;
    }
}
:focus-visible{
    outline: solid rgb(34, 221, 34) 4px;
}
html{
    font-size: var(--font-size-default);
}
body{
    font: var(--font-default);
    width: 100%;
    margin: 0;
}
header{
    background-image: url(../images/header-get-coding.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    background-color: #E9E9E9;
    padding: 2.5rem 1.25rem;
    height: calc(48.4vh - 5rem);
}
#header-nav{
    text-align: center;
    background-color: var(--color-neutral);
    padding: 1rem;
    border: solid 1px #f2f2f2;
    box-shadow: 1px 1px 21px #DCDCDC
}
#header-nav > a{
    padding: calc(1rem + 1px) 1.25rem;
    border-radius: 1rem;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
}
a:active{
    background-color: var(--color-neutral-darkned);
}
main{
    text-align: center;
    background-color: var(--color-primary);
    color: white;
    height: calc(43vh - 1px);
    padding: 1px 0 0;
    margin: 0;
}
main > p{
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: calc((43vh - 1px - 3rem - 1.75rem) / 2);
    margin-bottom: 1.5rem;
}
button{
    background-color: var(--color-secondary);
    color: white;
    font: var(--font-default);
    font-size: 1.25rem;
    padding: 0.5rem 0.9rem;
    border: var(--color-secondary) solid;
    border-radius: 7px;
    box-shadow: 0 4px 4px #384553;
}
button:hover{
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
}
button:active{
    background-color: var(--color-secondary-darkened);
    border-color: var(--color-secondary-darkened);
}
footer{
    background-color: var(--color-neutral);
    height: 8.6vh;
}
#footer-nav{
    position: absolute;
    font-size: 1.25rem;
    right: 3rem;
    margin-top: calc(4.3vh - 0.625rem);
}
#footer-nav > a{
    padding: calc(4.3vh - 0.625rem) 1.25rem;
    border-radius: 1rem;
}